* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
*.php linguist-detectable=true  
*.css linguist-detectable=false  
*.js linguist-detectable=false 
*.html linguist-detectable=false  
*.xml linguist-detectable=false    

/.github export-ignore
CHANGELOG.md export-ignore
